<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kulturalni - Wszystkie wydarzenia</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="images/favicon.ico">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/additional.css">
</head>

<body id="page-top">
<!-- Navigation-->
<div th:insert="index :: copy-header"></div>
<!-- Masthead-->
<header class="masthead text-dark">

    <div class="container bg-light rounded-3">
        <div class="row head-border">

             <div class="col-md-3">
                <form action="/eventFilterType">
                    <select class="dropdown-fields dropdown-field-type" name="eventFilterType" onchange="this.form.submit()">
                        <option value="999" selected th:if="${eventFilterType == '> 0'}">Wszystkie rodzaje</option>
                        <option value="999" th:if="${eventFilterType != '> 0'}">Wszystkie rodzaje</option>
                        <option value="1" selected th:if="${eventFilterType == '= 1'}">kino</option>
                        <option value="1" th:if="${eventFilterType != '= 1'}">kino</option>
                        <option value="19" selected th:if="${eventFilterType == '= 19'}">teatr</option>
                        <option value="19" th:if="${eventFilterType != '= 19'}">teatr</option>
                        <option value="51" selected th:if="${eventFilterType == '= 51'}">sztuka</option>
                        <option value="51" th:if="${eventFilterType != '= 51'}">sztuka</option>
                        <option value="35" selected th:if="${eventFilterType == '= 35'}">muzyka</option>
                        <option value="35" th:if="${eventFilterType != '= 35'}">muzyka</option>
                        <option value="83" selected th:if="${eventFilterType == '= 83'}">nauka</option>
                        <option value="83" th:if="${eventFilterType != '= 83'}">nauka</option>
                        <option value="61" selected th:if="${eventFilterType == '= 61'}">literatura</option>
                        <option value="61" th:if="${eventFilterType != '= 61'}">literatura</option>
                        <option value="69" selected th:if="${eventFilterType == '= 69'}">rozrywka</option>
                        <option value="69" th:if="${eventFilterType != '= 69'}">rozrywka</option>
                        <option value="77" selected th:if="${eventFilterType == '= 77'}">rekreacja</option>
                        <option value="77" th:if="${eventFilterType != '= 77'}">rekreacja</option>
                        <option value="96" selected th:if="${eventFilterType == '= 96'}">inne</option>
                        <option value="96" th:if="${eventFilterType != '= 96'}">inne</option>
                    </select>
                </form>
            </div>

            <div class="col-md-3">
                <form action="/eventFilterPlace">
                    <select class="dropdown-fields dropdown-field-city" name="eventFilterPlace" onchange="this.form.submit()">
                        <option value="all" selected th:if="${eventFilterPlace == 'all'}">Wszystkie miejsca</option>
                        <option value="all" th:if="${eventFilterPlace != 'all'}">Wszystkie miejsca</option>
                        <option value="Miejski Teatr MINIATURA" selected th:if="${eventFilterPlace == 'Miejski Teatr MINIATURA'}">Miejski Teatr MINIATURA</option>
                        <option value="Miejski Teatr MINIATURA" th:if="${eventFilterPlace != 'Miejski Teatr MINIATURA'}">Miejski Teatr MINIATURA</option>
                        <option value="Gdański Archipelag Kultury" selected th:if="${eventFilterPlace == 'Gdański Archipelag Kultury'}">Gdański Archipelag Kultury</option>
                        <option value="Gdański Archipelag Kultury" th:if="${eventFilterPlace != 'Gdański Archipelag Kultury'}">Gdański Archipelag Kultury</option>
                        <option value="other" selected th:if="${eventFilterPlace == 'other'}">inne</option>
                        <option value="other" th:if="${eventFilterPlace != 'other'}">inne</option>
                    </select>
                </form>
            </div>

            <div class="col-md-3">
                <form action="/eventSortType">
                    <select class="dropdown-fields dropdown-field-city" name="eventSortType" onchange="this.form.submit()">
                        <option value="date" selected th:if="${eventSortType == 'startDateDate'}">Sortuj po dacie</option>
                        <option value="date" th:if="${eventSortType != 'startDateDate'}">Sortuj po dacie</option>
                        <option value="city" selected th:if="${eventSortType == 'city'}">Sortuj po miejscowości</option>
                        <option value="city" th:if="${eventSortType != 'city'}">Sortuj po miejscowości</option>
                        <option value="name" selected th:if="${eventSortType == 'name'}">Sortuj po tytule</option>
                        <option value="name" th:if="${eventSortType != 'name'}">Sortuj po tytule</option>
                    </select>
                </form>
            </div>

            <div class="col-md-3">
                <form action="/eventSortDirection">
                    <select class="dropdown-fields dropdown-field-direction" name="eventSortDirection" onchange="this.form.submit()">
                        <option value="ascending" selected th:if="${eventSortDirection == 'ASC'}">Sortuj rosnąco</option>
                        <option value="ascending" th:if="${eventSortDirection != 'ASC'}">Sortuj rosnąco</option>
                        <option value="descending" selected th:if="${eventSortDirection == 'DESC'}">Sortuj malejąco</option>
                        <option value="descending" th:if="${eventSortDirection != 'DESC'}">Sortuj malejąco</option>
                    </select>
                </form>
            </div>

        </div>
    </div>

    <div class="container bg-light rounded-3 mb-2">
        <div class="row head-border">
            <div class="col-md-6">
                <input class="dropdown-fields event-name-input" type="text" value=""
                       placeholder="Wpisz tytuł wydarzenia" autocomplete="off"/>
            </div>

            <div class="col-md-3">
                <button type="button" class="button-search">Szukaj</button>
            </div>

            <div class="col-md-3">
                <form action="/eventsPerPage">
                    <select class="dropdown-fields dropdown-field-quantity" name="eventsPerPage" onchange="this.form.submit()">
                        <option value="10" selected th:if="${numberOfEventsPerPage.equals(10)}">10 wyników</option>
                        <option value="10" th:if="${not numberOfEventsPerPage.equals(10)}">10 wyników</option>
                        <option value="30" selected th:if="${numberOfEventsPerPage.equals(30)}">30 wyników</option>
                        <option value="30" th:if="${not numberOfEventsPerPage.equals(30)}">30 wyników</option>
                        <option value="50" selected th:if="${numberOfEventsPerPage.equals(50)}">50 wyników</option>
                        <option value="50" th:if="${not numberOfEventsPerPage.equals(50)}">50 wyników</option>
                    </select>
                </form>
            </div>

        </div>
    </div>

    <div class="container main-table">
        <div class="row">
            <div class="col-md-1 low-padding">
                <p class="header-city-paragraph">Miasto</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph table-date-paragraph">Data</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph">Godzina</p>
            </div>
            <div class="col-md-8">
                <p class="header-city-paragraph">Nazwa wydarzenia</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph">Ulubione</p>
            </div>
        </div>
    </div>

    <div th:each="eventDto: ${listOfEventDto}" class="container main-table">
        <div class="row">
            <div class="col-md-1 low-padding">
                <p class="table-city-paragraph" th:text="${eventDto.getCity()}">Miasto</p>
            </div>
            <div class="col-md-1">
                <p class="table-city-paragraph table-date-paragraph" th:text="${eventDto.getStartDateDate()}">
                    Data</p>
            </div>
            <div class="col-md-1">
                <p class="table-city-paragraph" th:text="${eventDto.getStartDateTime()}">Godzina</p>
            </div>
            <div class="col-md-8">
                <a href=# th:href="@{/singleevent(id=${eventDto.getId()})}" style="text-decoration: none">
                    <p class="table-city-paragraph" th:text="${eventDto.getName()}">Nazwa wydarzenia</p>
                </a>
            </div>
            <div class="col-md-1">
                <form action="/favselect">
                    <a href=# th:href="@{/favselect(id=${eventDto.getId()}, favStatus=${eventDto.getFavourite()})}" >
                        <span th:if="${eventDto.getFavourite()}"><img src="images/img/heart-red.png" style="width: 32px; height: 32px; margin-top: 10px"></span>
                        <span th:if="${!eventDto.getFavourite()}"><img src="images/img/heart-bw.png" style="width: 32px; height: 32px; margin-top: 10px"></span>
                    </a>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" style="margin-top: 15px">
            <div class="col-md-4" style="margin: 0 auto">
                <nav th:if="${newPaginationDto.shouldBeDisplayed}">
                    <ul class="pagination" >
                        <li class="page-item" style="width: 100px" th:if="${newPaginationDto.sShouldLeftArrowNavBarNumberBeDisplayed()}"><a class="page-link" href="#"  th:href="@{/alleventsChangePage(page=${newPaginationDto.getLeftArrowNavBarNumber()})}" style="color: deeppink">Poprzednie</a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldFirstNavBarNumberBeDisplayed()}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${newPaginationDto.getFirstNavBarNumber()})}"><span th:text="${newPaginationDto.getFirstNavBarNumber()}" style="color: deeppink"></span></a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldSecondNavBarNumberBeDisplayed()}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${newPaginationDto.getSecondNavBarNumber()})}"><span th:text="${newPaginationDto.getSecondNavBarNumber()}" style="color: deeppink"></span></a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldThirdNavBarNumberBeDisplayed()}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${newPaginationDto.getThirdNavBarNumber()})}"><span th:text="${newPaginationDto.getThirdNavBarNumber()}" style="color: deeppink"></span></a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldFourthNavBarNumberBeDisplayed()}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${newPaginationDto.getFourthNavBarNumber()})}"><span th:text="${newPaginationDto.getFourthNavBarNumber()}" style="color: deeppink"></span></a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldFifthNavBarNumberBeDisplayed()}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${newPaginationDto.getFifthNavBarNumber()})}"><span th:text="${newPaginationDto.getFifthNavBarNumber()}" style="color: deeppink"></span></a></li>
                        <li class="page-item" style="width: 100px" th:if="${newPaginationDto.shouldRightArrowNavBarNumberBeDisplayed() }"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${newPaginationDto.getRightArrowNavBarNumber()})}" style="color: deeppink">Następne</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>






</header>
<!-- Events-->


<div th:insert="index :: copy-footer"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>