<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kulturalni - Wszystkie wydarzenia</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="images/favicon.ico">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/additional.css">
</head>

<body id="page-top">
<!-- Navigation-->
<div th:insert="index :: copy-header"></div>
<!-- Masthead-->
<header class="masthead text-dark">

    <div class="container bg-light rounded-3">
        <div class="row head-border">

             <div class="col-md-3">
                <form action="/eventFilterType">
<!--                    <select class="dropdown-fields dropdown-field-type" name="eventFilterType" onchange="this.form.submit()">
                        <option value="all" selected>Wszystkie rodzaje</option>
                        <option value="cinema">kino</option>
                        <option value="theatre">teatr</option>
                        <option value="concert">koncert</option>
                        <option value="other">inne</option>
                    </select>-->
                </form>
            </div>

            <div class="col-md-3">
                <form action="/eventFilterPlace">
                    <select class="dropdown-fields dropdown-field-city" name="eventFilterPlace" onchange="this.form.submit()">
                        <option value="all" selected th:if="${eventFilterPlace == 'all'}">Wszystkie miejsca</option>
                        <option value="all" th:if="${eventFilterPlace != 'all'}">Wszystkie miejsca</option>
                        <option value="Miejski Teatr MINIATURA" selected th:if="${eventFilterPlace == 'Miejski Teatr MINIATURA'}">Miejski Teatr MINIATURA</option>
                        <option value="Miejski Teatr MINIATURA" th:if="${eventFilterPlace != 'Miejski Teatr MINIATURA'}">Miejski Teatr MINIATURA</option>
                        <option value="Gdański Archipelag Kultury" selected th:if="${eventFilterPlace == 'Gdański Archipelag Kultury'}">Gdański Archipelag Kultury</option>
                        <option value="Gdański Archipelag Kultury" th:if="${eventFilterPlace != 'Gdański Archipelag Kultury'}">Gdański Archipelag Kultury</option>
                        <option value="other" selected th:if="${eventFilterPlace == 'other'}">inne</option>
                        <option value="other" th:if="${eventFilterPlace != 'other'}">inne</option>
                    </select>
                </form>
            </div>

            <div class="col-md-3">
                <form action="/eventSortType">
                    <select class="dropdown-fields dropdown-field-city" name="eventSortType" onchange="this.form.submit()">
                        <option value="date" selected th:if="${eventSortType == 'date'}">Sortuj po dacie</option>
                        <option value="date" th:if="${eventSortType != 'date'}">Sortuj po dacie</option>
                        <option value="city" selected th:if="${eventSortType == 'city'}">Sortuj po miejscowości</option>
                        <option value="city" th:if="${eventSortType != 'city'}">Sortuj po miejscowości</option>
                        <option value="name" selected th:if="${eventSortType == 'name'}">Sortuj po tytule</option>
                        <option value="name" th:if="${eventSortType != 'name'}">Sortuj po tytule</option>
                    </select>
                </form>
            </div>

            <div class="col-md-3">
                <form action="/eventSortDirection">
                    <select class="dropdown-fields dropdown-field-direction" name="eventSortDirection" onchange="this.form.submit()">
                        <option value="ascending" selected th:if="${eventSortDirection == 'ascending'}">Sortuj rosnąco</option>
                        <option value="ascending" th:if="${eventSortDirection != 'ascending'}">Sortuj rosnąco</option>
                        <option value="descending" selected th:if="${eventSortDirection == 'descending'}">Sortuj malejąco</option>
                        <option value="descending" th:if="${eventSortDirection != 'descending'}">Sortuj malejąco</option>
                    </select>
                </form>
            </div>

        </div>
    </div>

    <div class="container bg-light rounded-3 mb-2">
        <div class="row head-border">
            <div class="col-md-6">
                <input class="dropdown-fields event-name-input" type="text" value=""
                       placeholder="Wpisz tytuł wydarzenia" autocomplete="off"/>
            </div>

            <div class="col-md-3">
                <button type="button" class="button-search">Szukaj</button>
            </div>

            <div class="col-md-3">
                <form action="/eventsPerPage">
                    <select class="dropdown-fields dropdown-field-quantity" name="eventsPerPage" onchange="this.form.submit()">
                        <option value="10" selected th:if="${numberOfEventsPerPage.equals(10)}">10 wyników</option>
                        <option value="10" th:if="${not numberOfEventsPerPage.equals(10)}">10 wyników</option>
                        <option value="30" selected th:if="${numberOfEventsPerPage.equals(30)}">30 wyników</option>
                        <option value="30" th:if="${not numberOfEventsPerPage.equals(30)}">30 wyników</option>
                        <option value="50" selected th:if="${numberOfEventsPerPage.equals(50)}">50 wyników</option>
                        <option value="50" th:if="${not numberOfEventsPerPage.equals(50)}">50 wyników</option>
                    </select>
                </form>
            </div>

        </div>
    </div>

    <div class="container main-table">
        <div class="row">
            <div class="col-md-1 low-padding">
                <p class="header-city-paragraph">Miasto</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph table-date-paragraph">Data</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph">Godzina</p>
            </div>
            <div class="col-md-8">
                <p class="header-city-paragraph">Nazwa wydarzenia</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph">Ulubione</p>
            </div>
        </div>
    </div>

    <div th:each="eventSimple: ${listOfEventSimple}" class="container main-table">
        <div class="row">
            <div class="col-md-1 low-padding">
                <p class="table-city-paragraph" th:text="${eventSimple.getEventSimpleCity()}">Miasto</p>
            </div>
            <div class="col-md-1">
                <p class="table-city-paragraph table-date-paragraph" th:text="${eventSimple.getEventSimpleDate()}">
                    Data</p>
            </div>
            <div class="col-md-1">
                <p class="table-city-paragraph" th:text="${eventSimple.getEventSimpleStartTime()}">Godzina</p>
            </div>
            <div class="col-md-8">
                <a href=# th:href="@{/singleevent(id=${eventSimple.getEventSimpleId()})}" style="text-decoration: none">
                    <p class="table-city-paragraph" th:text="${eventSimple.getEventSimpleName()}">Nazwa wydarzenia</p>
                </a>
            </div>
            <div class="col-md-1">
                <p class="table-city-paragraph">Ulubione</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-md-12" style="margin-top: 15px">
            <nav th:if="${paginationDto.shouldBeDisplayed}">
                <ul class="pagination" >
                    <li class="page-item" style="width: 100px" th:if="${(paginationDto.totalNumberOfPages > 1) && (numberOfPageThatIsBeeingDisplayed > 1)}"><a class="page-link" href="#"  th:href="@{/alleventsChangePage(page=${-1})}" style="color: deeppink">Previous</a></li>
                    <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 0}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${paginationDto.getFirstNavBarNumber()})}"><span th:text="${paginationDto.getFirstNavBarNumber()}" style="color: deeppink"></span></a></li>
                    <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 1}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${paginationDto.getSecondNavBarNumber()})}"><span th:text="${paginationDto.getSecondNavBarNumber()}" style="color: deeppink"></span></a></li>
                    <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 2}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${paginationDto.getThirdNavBarNumber()})}"><span th:text="${paginationDto.getThirdNavBarNumber()}" style="color: deeppink"></span></a></li>
                    <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 3}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${paginationDto.getFourthNavBarNumber()})}"><span th:text="${paginationDto.getFourthNavBarNumber()}" style="color: deeppink"></span></a></li>
                    <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 4}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${paginationDto.getFifthNavBarNumber()})}"><span th:text="${paginationDto.getFifthNavBarNumber()}" style="color: deeppink"></span></a></li>
                    <li class="page-item" style="width: 100px" th:if="${paginationDto.totalNumberOfPages > numberOfPageThatIsBeeingDisplayed}"><a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${-2})}" style="color: deeppink">Next</a></li>
                </ul>
            </nav>
        </div>
     </div>



</header>
<!-- Events-->


<div th:insert="index :: copy-footer"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>