<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="pl">
<head>
    <th:block th:insert="index :: copyhead">CopiedFromIndex</th:block>

    <title>Kulturalni - Wydarzenia</title>
</head>
<body id="page-top">
<div th:insert="index :: copy-masthead"></div>
<!-- Masthead-->
<header class="masthead text-dark" style="padding-top:10rem">
    <div class="masthead-heading text-uppercase text-warning mb-4" th:text="#{events.title}"></div>
    <h6 class="mb-3 fw-normal text-warning" th:text="#{events.subtitle}"></h6>

    <!--FILTERS-->
    <button class="btn text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters"
            aria-expanded="false" aria-controls="collapseFilters">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
             class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
        </svg>
        <span th:text="#{events.filters}"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
             class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
        </svg>
    </button>
    <div class="collapse" id="collapseFilters">
        <div class="bg-transparent">
            <div class="container  rounded-3">
                <div class="row">
                    <div class="col-auto" style="width: 265px">
                        <form th:action="#{/eventFilterType}">
                            <select class="form-select" name="eventFilterType"
                                    onchange="this.form.submit()">
                                <option value="all" selected>Wszystkie rodzaje</option>
                                <option value="cinema">kino</option>
                                <option value="theatre">teatr</option>
                                <option value="concert">koncert</option>
                                <option value="other">inne</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-auto" style="width: 265px">
                        <form th:action="#{/eventFilterPlace}">
                            <select class="form-select" name="eventFilterPlace"
                                    onchange="this.form.submit()">
                                <option value="all" selected th:if="${eventFilterPlace == 'all'}">Wszystkie miejsca
                                </option>
                                <option value="all" th:if="${eventFilterPlace != 'all'}">Wszystkie miejsca</option>
                                <option value="Miejski Teatr MINIATURA" selected
                                        th:if="${eventFilterPlace == 'Miejski Teatr MINIATURA'}">Miejski Teatr
                                    MINIATURA
                                </option>
                                <option value="Miejski Teatr MINIATURA"
                                        th:if="${eventFilterPlace != 'Miejski Teatr MINIATURA'}">Miejski Teatr
                                    MINIATURA
                                </option>
                                <option value="Gdański Archipelag Kultury" selected
                                        th:if="${eventFilterPlace == 'Gdański Archipelag Kultury'}">Gdański
                                    Archipelag
                                    Kultury
                                </option>
                                <option value="Gdański Archipelag Kultury"
                                        th:if="${eventFilterPlace != 'Gdański Archipelag Kultury'}">Gdański
                                    Archipelag
                                    Kultury
                                </option>
                                <option value="other" selected th:if="${eventFilterPlace == 'other'}">inne</option>
                                <option value="other" th:if="${eventFilterPlace != 'other'}">inne</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-auto" style="width: 265px">
                        <form th:action="#{/eventSortType}">
                            <select class="form-select" name="eventSortType"
                                    onchange="this.form.submit()">
                                <option value="date" selected th:if="${eventSortType == 'date'}">Sortuj po dacie
                                </option>
                                <option value="date" th:if="${eventSortType != 'date'}">Sortuj po dacie</option>
                                <option value="city" selected th:if="${eventSortType == 'city'}">Sortuj po
                                    miejscowości
                                </option>
                                <option value="city" th:if="${eventSortType != 'city'}">Sortuj po miejscowości
                                </option>
                                <option value="name" selected th:if="${eventSortType == 'name'}">Sortuj po tytule
                                </option>
                                <option value="name" th:if="${eventSortType != 'name'}">Sortuj po tytule</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-auto" style="width: 265px">
                        <form th:action="#{/eventSortDirection}">
                            <select class="form-select" name="eventSortDirection"
                                    onchange="this.form.submit()">
                                <option value="ascending" selected th:if="${eventSortDirection == 'ascending'}">
                                    Sortuj
                                    rosnąco
                                </option>
                                <option value="ascending" th:if="${eventSortDirection != 'ascending'}">Sortuj
                                    rosnąco
                                </option>
                                <option value="descending" selected th:if="${eventSortDirection == 'descending'}">
                                    Sortuj
                                    malejąco
                                </option>
                                <option value="descending" th:if="${eventSortDirection != 'descending'}">Sortuj
                                    malejąco
                                </option>
                            </select>
                        </form>
                    </div>
                    <div class="col-auto">
                        <form th:action="#{/eventsPerPage}">
                            <label>
                                <select class="form-select" style="width: 235px" name="eventsPerPage"
                                        onchange="this.form.submit()">
                                    <option value="10" selected th:if="${numberOfEventsPerPage.equals(10)}">10 wyników
                                    </option>
                                    <option value="10" th:if="${not numberOfEventsPerPage.equals(10)}">10 wyników
                                    </option>
                                    <option value="30" selected th:if="${numberOfEventsPerPage.equals(30)}">30 wyników
                                    </option>
                                    <option value="30" th:if="${not numberOfEventsPerPage.equals(30)}">30 wyników
                                    </option>
                                    <option value="50" selected th:if="${numberOfEventsPerPage.equals(50)}">50 wyników
                                    </option>
                                    <option value="50" th:if="${not numberOfEventsPerPage.equals(50)}">50 wyników
                                    </option>
                                </select>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SEARCH BAR-->
    <div class="container my-3">
        <form class="d-flex">
            <input class="form-control me-2" style="width:85%" type="search"
                   placeholder="Wpisz tytuł wydarzenia" aria-label="Search">
            <button class="col-md-2 btn btn-warning" type="submit">
                Szukaj wydarzeń
            </button>
        </form>
    </div>


    </div>
    <!--TABLE HEADERS-->
    <div class="container main-table bg-transparent">
        <div class="row">
            <div class="col-md-1 low-padding">
                <p class="header-city-paragraph">Miasto</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph table-date-paragraph">Data</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph">Godzina</p>
            </div>
            <div class="col-md-8">
                <p class="header-city-paragraph">Nazwa wydarzenia</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph">Ulubione</p>
            </div>
        </div>
    </div>
    <!--TABLE-->
    <div th:each="eventSimple: ${listOfEventSimple}" class="container main-table bg-transparent">
        <div class="row bg-dark text-warning rounded-3">
            <div class="col-md-1 low-padding">
                <p class="" th:text="${eventSimple.getEventSimpleCity()}">Miasto</p>
            </div>
            <div class="col-md-1">
                <p class="" th:text="${eventSimple.getEventSimpleDate()}">
                    Data</p>
            </div>
            <div class="col-md-1">
                <p class="" th:text="${eventSimple.getEventSimpleStartTime()}">Godzina</p>
            </div>
            <div class="col-md-8">
                <a href=# th:href="@{/singleevent(id=${eventSimple.getEventSimpleId()})}" style="text-decoration: none">
                    <p class="" th:text="${eventSimple.getEventSimpleName()}">Nazwa wydarzenia</p>
                </a>
            </div>
            <div class="col-md-1">
                <form class="" action="/favselect">
                    <a href=# th:href="@{/favselect(id=${eventSimple.getEventSimpleId()})}"><img
                            src="images/img/heart-bw.png" style="width: 32px; height: 32px; margin-top: 10px"></a>
                    <!--<a href=# th:href="@{/favselect(id=${eventSimple.getEventSimpleId()})}"
                    th:if="${eventSimple.getEventSimpleId() != favId}" ? 'img src="images/img/heart-bw.png"' : 'img src="images/img/heart-red.png"'" style="width: 32px; height: 32px; margin-top: 10px"></a>-->
                </form>
            </div>
        </div>
    </div>
    <!--PAGINATION-->
    <div class="container">
        <div class="row" style="margin-top: 15px">
            <div class="col-md-4" style="margin: 0 auto">
                <nav th:if="${paginationDto.shouldBeDisplayed}">
                    <ul class="pagination">
                        <li class="page-item" style="width: 100px"
                            th:if="${(paginationDto.totalNumberOfPages > 1) && (numberOfPageThatIsBeeingDisplayed > 1)}">
                            <a class="page-link" href="#" th:href="@{/alleventsChangePage(page=${-1})}"
                               style="color: deeppink">Previous</a></li>
                        <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 0}"><a class="page-link"
                                                                                                 href="#"
                                                                                                 th:href="@{/alleventsChangePage(page=${paginationDto.getFirstNavBarNumber()})}"><span
                                th:text="${paginationDto.getFirstNavBarNumber()}" style="color: deeppink"></span></a>
                        </li>
                        <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 1}"><a class="page-link"
                                                                                                 href="#"
                                                                                                 th:href="@{/alleventsChangePage(page=${paginationDto.getSecondNavBarNumber()})}"><span
                                th:text="${paginationDto.getSecondNavBarNumber()}" style="color: deeppink"></span></a>
                        </li>
                        <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 2}"><a class="page-link"
                                                                                                 href="#"
                                                                                                 th:href="@{/alleventsChangePage(page=${paginationDto.getThirdNavBarNumber()})}"><span
                                th:text="${paginationDto.getThirdNavBarNumber()}" style="color: deeppink"></span></a>
                        </li>
                        <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 3}"><a class="page-link"
                                                                                                 href="#"
                                                                                                 th:href="@{/alleventsChangePage(page=${paginationDto.getFourthNavBarNumber()})}"><span
                                th:text="${paginationDto.getFourthNavBarNumber()}" style="color: deeppink"></span></a>
                        </li>
                        <li class="page-item" th:if="${paginationDto.totalNumberOfPages > 4}"><a class="page-link"
                                                                                                 href="#"
                                                                                                 th:href="@{/alleventsChangePage(page=${paginationDto.getFifthNavBarNumber()})}"><span
                                th:text="${paginationDto.getFifthNavBarNumber()}" style="color: deeppink"></span></a>
                        </li>
                        <li class="page-item" style="width: 100px"
                            th:if="${paginationDto.totalNumberOfPages > numberOfPageThatIsBeeingDisplayed}"><a
                                class="page-link" href="#" th:href="@{/alleventsChangePage(page=${-2})}"
                                style="color: deeppink">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--FOOTER-->
<div th:insert="index :: copy-footer"></div>
<!--SCRIPTS-->
<div th:insert="index :: end-scripts"></div>
</body>
</html>