<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="pl">
<head>
    <th:block th:insert="index :: copyhead">CopiedFromIndex</th:block>

    <title>Kulturalni - Wydarzenia</title>
</head>
<body id="page-top">
<div th:insert="index :: copy-masthead"></div>

<!-- Masthead-->
<header class="masthead text-dark" style="padding-top:10rem">
    <div class="masthead-heading text-uppercase text-warning mb-4" th:text="#{events.title}"></div>
    <h6 class="mb-3 fw-normal text-warning" th:text="#{events.subtitle}"></h6>

    <!--FILTERS-->
    <button class="btn text-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters"
            aria-expanded="false" aria-controls="collapseFilters">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
             class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
        </svg>
        <span th:text="#{events.filters}"></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
             class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
        </svg>
    </button>
    <div class="collapse" id="collapseFilters">
        <div class="bg-transparent">
            <div class="container  rounded-3">
                <div class="row">
                    <div class="col-auto" style="width: 265px">
                        <form th:action="#{/eventFilterType}">
                            <label>
                                <select class="form-select" name="eventFilterType"
                                        onchange="this.form.submit()">
                                    <option value="999" selected th:if="${eventFilterType == '> 0'}">Wszystkie rodzaje
                                    </option>
                                    <option value="999" th:if="${eventFilterType != '> 0'}">Wszystkie rodzaje</option>
                                    <option value="1" selected th:if="${eventFilterType == '= 1'}">kino</option>
                                    <option value="1" th:if="${eventFilterType != '= 1'}">kino</option>
                                    <option value="19" selected th:if="${eventFilterType == '= 19'}">teatr</option>
                                    <option value="19" th:if="${eventFilterType != '= 19'}">teatr</option>
                                    <option value="51" selected th:if="${eventFilterType == '= 51'}">sztuka</option>
                                    <option value="51" th:if="${eventFilterType != '= 51'}">sztuka</option>
                                    <option value="35" selected th:if="${eventFilterType == '= 35'}">muzyka</option>
                                    <option value="35" th:if="${eventFilterType != '= 35'}">muzyka</option>
                                    <option value="83" selected th:if="${eventFilterType == '= 83'}">nauka</option>
                                    <option value="83" th:if="${eventFilterType != '= 83'}">nauka</option>
                                    <option value="61" selected th:if="${eventFilterType == '= 61'}">literatura</option>
                                    <option value="61" th:if="${eventFilterType != '= 61'}">literatura</option>
                                    <option value="69" selected th:if="${eventFilterType == '= 69'}">rozrywka</option>
                                    <option value="69" th:if="${eventFilterType != '= 69'}">rozrywka</option>
                                    <option value="77" selected th:if="${eventFilterType == '= 77'}">rekreacja</option>
                                    <option value="77" th:if="${eventFilterType != '= 77'}">rekreacja</option>
                                    <option value="96" selected th:if="${eventFilterType == '= 96'}">inne</option>
                                    <option value="96" th:if="${eventFilterType != '= 96'}">inne</option>
                                </select>
                            </label>
                        </form>
                    </div>
                    <div class="col-auto" style="width: 265px">
                        <form th:action="#{/eventFilterPlace}">
                            <label>
                                <select class="form-select" name="eventFilterPlace"
                                        onchange="this.form.submit()">
                                    <option value="all" selected th:if="${eventFilterPlace == 'all'}">Wszystkie miejsca
                                    </option>
                                    <option value="all" th:if="${eventFilterPlace != 'all'}">Wszystkie miejsca</option>
                                    <option value="Miejski Teatr MINIATURA" selected
                                            th:if="${eventFilterPlace == 'Miejski Teatr MINIATURA'}">Miejski Teatr
                                        MINIATURA
                                    </option>
                                    <option value="Miejski Teatr MINIATURA"
                                            th:if="${eventFilterPlace != 'Miejski Teatr MINIATURA'}">Miejski Teatr
                                        MINIATURA
                                    </option>
                                    <option value="Gdański Archipelag Kultury" selected
                                            th:if="${eventFilterPlace == 'Gdański Archipelag Kultury'}">Gdański
                                        Archipelag
                                        Kultury
                                    </option>
                                    <option value="Gdański Archipelag Kultury"
                                            th:if="${eventFilterPlace != 'Gdański Archipelag Kultury'}">Gdański
                                        Archipelag
                                        Kultury
                                    </option>
                                    <option value="other" selected th:if="${eventFilterPlace == 'other'}">inne</option>
                                    <option value="other" th:if="${eventFilterPlace != 'other'}">inne</option>
                                </select>
                            </label>
                        </form>
                    </div>
                    <div class="col-auto" style="width: 260px">
                        <form th:action="#{/eventSortType}">
                            <label>
                                <select class="form-select" name="eventSortType"
                                        onchange="this.form.submit()">
                                    <option value="date" selected th:if="${eventSortType == 'startDateDate'}">Sortuj po
                                        dacie
                                    </option>
                                    <option value="date" th:if="${eventSortType != 'startDateDate'}">Sortuj po dacie
                                    </option>
                                    <option value="city" selected th:if="${eventSortType == 'city'}">Sortuj po
                                        miejscowości
                                    </option>
                                    <option value="city" th:if="${eventSortType != 'city'}">Sortuj po miejscowości
                                    </option>
                                    <option value="name" selected th:if="${eventSortType == 'name'}">Sortuj po tytule
                                    </option>
                                    <option value="name" th:if="${eventSortType != 'name'}">Sortuj po tytule</option>
                                </select>
                            </label>
                        </form>
                    </div>
                    <div class="col-auto" style="width: 265px">
                        <form th:action="#{/eventSortDirection}">
                            <label>
                                <select class="form-select" name="eventSortDirection"
                                        onchange="this.form.submit()">
                                    <option value="ascending" selected th:if="${eventSortDirection == 'ASC'}">Sortuj
                                        rosnąco
                                    </option>
                                    <option value="ascending" th:if="${eventSortDirection != 'ASC'}">Sortuj rosnąco
                                    </option>
                                    <option value="descending" selected th:if="${eventSortDirection == 'DESC'}">Sortuj
                                        malejąco
                                    </option>
                                    <option value="descending" th:if="${eventSortDirection != 'DESC'}">Sortuj malejąco
                                    </option>
                                </select>
                            </label>
                        </form>
                    </div>
                    <div class="col-auto" style=" width: 265px">
                        <form th:action="#{/eventsPerPage}">
                            <label>
                                <select class="form-select" name="eventsPerPage"
                                        onchange="this.form.submit()">
                                    <option value="10" selected th:if="${numberOfEventsPerPage.equals(10)}">10 wyników
                                    </option>
                                    <option value="10" th:if="${not numberOfEventsPerPage.equals(10)}">10 wyników
                                    </option>
                                    <option value="30" selected th:if="${numberOfEventsPerPage.equals(30)}">30 wyników
                                    </option>
                                    <option value="30" th:if="${not numberOfEventsPerPage.equals(30)}">30 wyników
                                    </option>
                                    <option value="50" selected th:if="${numberOfEventsPerPage.equals(50)}">50 wyników
                                    </option>
                                    <option value="50" th:if="${not numberOfEventsPerPage.equals(50)}">50 wyników
                                    </option>
                                </select>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SEARCH BAR-->
    <div class="container my-3">
        <form class="d-flex">
            <input class="form-control me-2" style="width:85%" type="search"
                   placeholder="Wpisz tytuł wydarzenia" aria-label="Search">
            <button class="col-md-2 btn btn-warning text-dark" type="submit">
                SZUKAJ
            </button>
        </form>
    </div>
    <!--TABLE HEADERS-->
    <div class="container-lg bg-dark border border-warning border-1 text-warning">
        <div class="row">
            <div class="col-md-1" sec:authorize="hasAuthority('ADMIN')">
                <p class="header-city-paragraph">ID</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph" th:text="#{events.header.city}">Miasto</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph " th:text="#{events.header.date}">Data</p>
            </div>
            <div class="col-md-1">
                <p class="header-city-paragraph" th:text="#{events.header.time}">Godzina</p>
            </div>
            <div class="col-md-7">
                <p class="header-city-paragraph" th:text="#{events.header.name}">Nazwa wydarzenia</p>
            </div>
            <div class="col-md-1" sec:authorize="hasAuthority('USER')">
                <p class="header-city-paragraph" th:text="#{events.header.favourites}">Ulubione</p>
            </div>
            <div class="col-md-1" sec:authorize="hasAuthority('ADMIN')">
                <p class="header-city-paragraph" th:text="#{events.header.admin}">EDYCJA</p>
            </div>
        </div>
    </div>
    <!--TABLE-->
    <div th:each="eventDto: ${listOfEventDto}" class="container-lg main-table bg-transparent">
        <div class="row bg-dark border border-warning border-1 text-warning rounded-3">
            <div class="col-md-1 low-padding" sec:authorize="hasAuthority('ADMIN')">
                <p class="" th:text="${eventDto.getId()}">ID</p>
            </div>
            <div class="col-md-1 low-padding">
                <p class="" th:utext="${eventDto.getCity()}">Miasto</p>
            </div>
            <div class="col-md-1">
                <p class="" th:text="${eventDto.getStartDateDate()}">
                    Data</p>
            </div>
            <div class="col-md-1">
                <p class="" th:text="${eventDto.getStartDateTime()}">Godzina</p>
            </div>
            <div class="col-md-7">
                <a href=# th:href="@{/singleevent(id=${eventDto.getId()})}" style="text-decoration: none">
                    <p class="" th:utext="${eventDto.getName()}">Nazwa wydarzenia</p>
                </a>
            </div>
            <div class="col-md-1" sec:authorize="hasAuthority('USER')">
                <form th:action="@{/favselect}">
                    <a th:href="@{/favselect(id=${eventDto.getId()}, favStatus=${eventDto.getFavourite()})}">
                                <span th:if="${eventDto.getFavourite()}">
                                    <img th:src="@{images/img/heart-red.png}"
                                         style="width: 32px; height: 32px; margin-top: 10px" alt="" src="">
                                </span>
                        <span th:if="${!eventDto.getFavourite()}">
                                <img th:src="@{images/img/heart-bw.png}"
                                     style="width: 32px; height: 32px; margin-top: 10px" alt="" src=""></span>
                    </a>
                </form>
            </div>
            <div class="col-md-1 p-2 m-0" sec:authorize="hasAuthority('ADMIN')">
                <a class="btn btn-outline-info"
                   th:href="@{/editEvent(id=${eventDto.getId()})}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </a>
                <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                         class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"
                                    th:text="#{events.edit.delete.modalTittle}">
                                    Modal title</h5>
                                <button type="button" class="btn-close" data-bs-target="#my-modal"
                                        data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body" th:text="#{events.edit.delete.modalBody}">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                        th:text="#{events.edit.delete.decline}">No
                                </button>

                                <button type="button" class="btn btn-success" th:text="#{events.edit.delete.confirm}"
                                        th:href="@{/deleteEvent(id=${eventDto.getId()})}">Yes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
    <!--PAGINATION-->
    <div class="container">
        <div class="row" style="margin-top: 15px">
            <div class="col-md-4" style="margin: 0 auto">
                <nav th:if="${newPaginationDto.shouldBeDisplayed}">
                    <ul class="pagination">
                        <li class="page-item" style="width: 100px"
                            th:if="${newPaginationDto.sShouldLeftArrowNavBarNumberBeDisplayed()}"><a
                                class="page-link" href="#"
                                th:href="@{/alleventsChangePage(page=${newPaginationDto.getLeftArrowNavBarNumber()})}"
                                style="color: deeppink">Poprzednie</a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldFirstNavBarNumberBeDisplayed()}">
                            <a class="page-link" href="#"
                               th:href="@{/alleventsChangePage(page=${newPaginationDto.getFirstNavBarNumber()})}"><span
                                    th:text="${newPaginationDto.getFirstNavBarNumber()}"
                                    style="color: deeppink"></span></a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldSecondNavBarNumberBeDisplayed()}">
                            <a class="page-link" href="#"
                               th:href="@{/alleventsChangePage(page=${newPaginationDto.getSecondNavBarNumber()})}"><span
                                    th:text="${newPaginationDto.getSecondNavBarNumber()}"
                                    style="color: deeppink"></span></a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldThirdNavBarNumberBeDisplayed()}">
                            <a class="page-link" href="#"
                               th:href="@{/alleventsChangePage(page=${newPaginationDto.getThirdNavBarNumber()})}"><span
                                    th:text="${newPaginationDto.getThirdNavBarNumber()}"
                                    style="color: deeppink"></span></a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldFourthNavBarNumberBeDisplayed()}">
                            <a class="page-link" href="#"
                               th:href="@{/alleventsChangePage(page=${newPaginationDto.getFourthNavBarNumber()})}"><span
                                    th:text="${newPaginationDto.getFourthNavBarNumber()}"
                                    style="color: deeppink"></span></a></li>
                        <li class="page-item" th:if="${newPaginationDto.shouldFifthNavBarNumberBeDisplayed()}">
                            <a class="page-link" href="#"
                               th:href="@{/alleventsChangePage(page=${newPaginationDto.getFifthNavBarNumber()})}"><span
                                    th:text="${newPaginationDto.getFifthNavBarNumber()}"
                                    style="color: deeppink"></span></a></li>
                        <li class="page-item" style="width: 100px"
                            th:if="${newPaginationDto.shouldRightArrowNavBarNumberBeDisplayed() }"><a
                                class="page-link" href="#"
                                th:href="@{/alleventsChangePage(page=${newPaginationDto.getRightArrowNavBarNumber()})}"
                                style="color: deeppink">Następne</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--FOOTER-->
<div th:insert="index :: copy-footer"></div>
<!--SCRIPTS-->
<div th:insert="index :: end-scripts"></div>
</body>
</html>