<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kulturalni - Dodaj wydarzenie</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="images/favicon.ico">

    <!-- Core theme CSS (includes Bootstrap)-->

    <link href="css/styles.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/additional.css">
</head>

<body id="page-top">
<!-- Navigation-->
<div th:insert="index :: copy-header"></div>
<!-- Masthead-->
<header class="masthead text-dark">


    <div class="container" style="text-align: center">
        <div class="row" style="background-color: white">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="text-align: center">
                <p class="event-title" style="color: blue">Panel administracyjny<br>edycja istniejącego wydarzenia</p>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-1">
            </div>
        </div>

    </div>

    <div class="container">
        <form action="#" th:action="@{/saveeditedevent}" th:object="${eventSimple}" method="post">
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Id wydarzenia</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description" th:text="${idForEventSimple}"></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Nazwa wydarzenia</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" style="width: 500px"
                                                              th:field="*{eventSimpleName}" th:value="${g}"/><span
                            th:if="${#fields.hasErrors('eventSimpleName')}" th:errors="*{eventSimpleName}"></span></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Opis</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="newEventDescription"
                                                              style="width: 500px"
                                                              th:field="*{eventSimpleDescription}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Krótki opis</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="eventSimpleDescriptionShort"
                                                              style="width: 500px"
                                                              th:field="*{eventSimpleDescriptionShort}"/></p>
                </div>
            </div>
            <!--           <div class="row event-description" style="background-color: white">
                           <div class="col-md-3">
                               <p class="event-left-description">Rodzaj</p>
                           </div>
                           <div class="col-md-9">
                               <p class="event-right-description" >
                                   <select name="newEventType" style="width: 500px" th:field="*{newEventType}">
                                       <option value="kino">kino</option>
                                       <option value="teatr">teatr</option>
                                       <option value="koncert">koncert</option>
                                       <option value="inne">inne</option>
                                   </select>
                               </p>
                           </div>
                       </div>-->
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Miasto</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="eventSimpleCity" style="width: 500px"
                                                              th:field="*{eventSimpleCity}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Miejsce</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="newEventPlace" style="width: 500px"
                                                              th:field="*{eventSimplePlace}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Termin</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="newEventDate" style="width: 500px"
                                                              th:field="*{eventSimpleDate}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Początek</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="newEventStartTime" style="width: 500px"
                                                              th:field="*{eventSimpleStartTime}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Koniec</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="newEventEndTime" style="width: 500px"
                                                              th:field="*{eventSimpleEndTime}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Cena</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="newEventPrice" style="width: 500px"
                                                              th:field="*{eventSimpleTicketPrice}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Strona wydarzenia</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="text" name="newEventWebPage" style="width: 500px"
                                                              th:field="*{eventSimpleWebPageAddress}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-3">
                    <p class="event-left-description">Obrazek</p>
                </div>
                <div class="col-md-9">
                    <p class="event-right-description"><input type="file" name="newEventPicture" style="width: 500px"
                                                              th:field="*{eventSimplePicture}"/></p>
                </div>
            </div>
            <div class="row event-description" style="background-color: white">
                <div class="col-md-12">
                    <input type="submit" value="Zapisz" style="margin-bottom: 30px">
                </div>
            </div>
            -->
        </form>
    </div>
</header>
<div th:insert="sign-in :: copy-footer"></div>
<div th:insert="index :: end-scripts"></div>
</body>
</html>