<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <th:block th:insert="index :: copyhead">CopiedFromIndex</th:block>

    <title>Kulturalni - Formularz edycji wydarzenia</title>
</head>
<body>
<!-- Navigation-->
<div th:insert="index :: copy-masthead"></div>
<!-- Masthead-->
<header class="masthead text-dark" style="padding-top: 120px">
    <div class="container" id="greeting">
        <img class="mb-4" th:src="@{images/img/logos/logo.png}" alt="" width="300" height="280">
        <h1 class="mb-3 fw-normal text-warning" th:text="#{editEvent.greeting}"></h1>
    </div>

    <div class="container col-lg-6">
        <form action="#" th:action="@{/updateEvent}" th:object="${editEventDto}" method="post">
            <!-- idEvent input -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <label for="idEvent"></label>
                    <div class="mb-2" th:text="#{editEvent.id}">Id wydarzenia</div>
                    <input type="text" class="form-control" id="idEvent" th:value="${editEventDto.getId()}"
                           name="newEventId" readonly>
                </div>
            </div>
            <!-- nameEvent input -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <label for="nameEvent"></label>
                    <span class="text-danger" th:if="${#fields.hasErrors('newEventName')}" th:errors="*{newEventName}">INVALID</span>
                    <div class="mb-2" th:text="#{editEvent.name}">Nazwa wydarzenia</div>
                    <input type="text" class="form-control" id="nameEvent" th:value="${editEventDto.getName()}"
                           name="newEventName">
                </div>
            </div>
            <!-- placeEvent input -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <label for="placeEvent"></label>
                    <span th:if="${#fields.hasErrors('newEventPlace')}" th:errors="*{newEventPlace}">INVALID</span>
                    <div class="mb-2" th:text="#{editEvent.place}">Miejsce</div>
                    <input type="text" class="form-control" id="placeEvent" th:value="${editEventDto.getPlaceName()}"
                           name="newEventPlace"></div>
            </div>
            <!-- categoryId input -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <label for="categoryId"></label>
                    <div class="mb-2" th:text="#{editEvent.type}">Kategoria wydarzenia</div>
                    <select class="dropdown-fields dropdown-field-type form-control" id="categoryId" name="categoryId">
                        <option value="999" selected th:if="${editEventDto.getCategoryId() == '999'}"
                                th:text="#{filters.type.all}">Wszystkie
                            rodzaje
                        </option>
                        <option value="999" th:if="${editEventDto.getCategoryId() != '999'}"
                                th:text="#{filters.type.all}">Wszystkie rodzaje
                        </option>
                        <option value="1" selected th:if="${editEventDto.getCategoryId() == '1'}"
                                th:text="#{filters.type.cinema}">Kino
                        </option>
                        <option value="1" th:if="${editEventDto.getCategoryId() != '1'}"
                                th:text="#{filters.type.cinema}">Kino
                        </option>
                        <option value="19" selected th:if="${editEventDto.getCategoryId() == '19'}"
                                th:text="#{filters.type.theater}">Teatr
                        </option>
                        <option value="19" th:if="${editEventDto.getCategoryId() != '19'}"
                                th:text="#{filters.type.theater}">Teatr
                        </option>
                        <option value="51" selected th:if="${editEventDto.getCategoryId() == '51'}"
                                th:text="#{filters.type.art}">Sztuka
                        </option>
                        <option value="51" th:if="${editEventDto.getCategoryId() != '51'}"
                                th:text="#{filters.type.art}">Sztuka
                        </option>
                        <option value="35" selected th:if="${editEventDto.getCategoryId() == '35'}"
                                th:text="#{filters.type.music}">Muzyka
                        </option>
                        <option value="35" th:if="${editEventDto.getCategoryId() != '35'}"
                                th:text="#{filters.type.music}">Muzyka
                        </option>
                        <option value="83" selected th:if="${editEventDto.getCategoryId() == '83'}"
                                th:text="#{filters.type.science}">Nauka
                        </option>
                        <option value="83" th:if="${editEventDto.getCategoryId() != '83'}"
                                th:text="#{filters.type.science}">Nauka
                        </option>
                        <option value="61" selected th:if="${editEventDto.getCategoryId() == '61'}"
                                th:text="#{filters.type.literature}">Literatura
                        </option>
                        <option value="61" th:if="${editEventDto.getCategoryId() != '61'}"
                                th:text="#{filters.type.literature}">Literatura
                        </option>
                        <option value="69" selected th:if="${editEventDto.getCategoryId() == '69'}"
                                th:text="#{filters.type.entertainment}">Rozrywka
                        </option>
                        <option value="69" th:if="${editEventDto.getCategoryId() != '69'}"
                                th:text="#{filters.type.entertainment}">Rozrywka
                        </option>
                        <option value="77" selected th:if="${editEventDto.getCategoryId() == '77'}"
                                th:text="#{filters.type.recreation}">Rekreacja
                        </option>
                        <option value="77" th:if="${editEventDto.getCategoryId() != '77'}"
                                th:text="#{filters.type.recreation}">Rekreacja
                        </option>
                        <option value="96" selected th:if="${editEventDto.getCategoryId() == '96'}"
                                th:text="#{filters.type.others}">Inne
                        </option>
                        <option value="96" th:if="${editEventDto.getCategoryId() != '96'}"
                                th:text="#{filters.type.others}">Inne
                        </option>
                    </select>
                </div>
            </div>
            <!-- cityEvent input -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <label for="cityEvent"></label>
                    <span th:if="${#fields.hasErrors('newEventCity')}" th:errors="*{newEventCity}"></span>
                    <div class="mb-2" th:text="#{editEvent.city}">Miejscowość</div>
                    <input type="text" class="form-control" id="cityEvent"
                           th:value="${editEventDto.getCity()}" name="newEventCity">
                </div>
            </div>
            <!-- startEvent input -->
            <div class="row event-description">
                <!-- startEvent DATE -->
                <div class="col-6 text-warning bg-dark pb-3 border-warning border rounded-3">
                    <div class="col-12">
                        <label for="sortEventsDateStart" class="text-warning mb-3" th:text="#{editEvent.eventStart}">Początek
                            wydarzenia</label>
                        <div class="text-warning mb-2" th:text="#{editEvent.startDate}">Data rozpoczęcia</div>
                        <input type="date" class="form-control"
                               id="sortEventsDateStart"
                               th:value="${editEventDto.getStartDateDate()}"
                               name="newEventStartDate">
                    </div>
                    <!-- startEvent TIME -->
                    <div class="col-12">
                        <label for="startEventTimeStart"></label>
                        <div class="text-warning mb-2" th:text="#{editEvent.startTime}">Godzina rozpoczęcia</div>
                        <input type="time" class="form-control"
                               id="startEventTimeStart"
                               th:value="${editEventDto.getStartDateTime()}"
                               name="newEventStartTime">
                    </div>
                </div>
                <!-- endEvent input -->
                <div class="col-6 text-warning bg-dark pb-3 border-warning border rounded-3">
                    <div class="col-12">
                        <label for="sortEventsDateEnd" class="text-warning mb-3" th:text="#{editEvent.eventEnd}">Koniec
                            wydarzenia</label>
                        <div class="text-warning mb-2" th:text="#{editEvent.endDate}">Data zakończenia</div>
                        <input type="date" class="form-control"
                               id="sortEventsDateEnd"
                               th:value="${editEventDto.getEndDateDate()}"
                               name="newEventEndDate">
                    </div>
                    <div class="col-12">
                        <label for="endEventTimeEnd"></label>
                        <div class="text-warning mb-2" th:text="#{editEvent.endTime}">Godzina zakończenia</div>
                        <input type="time"
                               class="form-control"
                               id="endEventTimeEnd"
                               th:value="${editEventDto.getEndDateTime()}"
                               name="newEventEndTime">
                    </div>
                </div>
            </div>
            <!-- priceEvent input -->
            <div class="row event-description border-warning border rounded-3">
                <div class="col-6 text-warning bg-dark pb-3">
                    <label for="priceEvent"></label>
                    <div th:if="${#fields.hasErrors('newEventPrice')}" th:errors="*{newEventPrice}">INVALID</div>
                    <div class="mb-2" th:text="#{editEvent.price}">CENA</div>
                    <input type="text" class="form-control" id="priceEvent"
                           th:value="${editEventDto.getTicket()}" name="newEventPrice">
                </div>
                <div class="col-6 text-warning bg-dark pb-3">
                    <br><br>
                    <input class="form-check-input" type="checkbox" id="priceEventFree"
                           onclick="this.form.elements['priceEvent'].disabled = this.checked"
                           name="newEventPriceFree">
                    <label class="form-check-label text-warning" for="priceEventFree"
                           th:text="#{editEvent.price.free}">Wydarzenie Bezpłatne</label>
                </div>
            </div>

            <!-- urlAddress input -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <br>
                    <label for="urlAddress" th:text="#{editEvent.url}">URL</label>
                    <input type="text" class="form-control" id="urlAddress"
                           th:value="${editEventDto.getUrl()}"
                           name="newEventUrl">
                </div>
            </div>
            <!-- descriptionEvent input -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <label for="descriptionEvent"></label>
                    <div th:if="${#fields.hasErrors('newEventDescription')}"
                         th:errors="*{newEventDescription}"></div>
                    <div class="mb-2" th:text="#{editEvent.description}">Opis wydarzenia (długi)</div>
                    <textarea class="form-control"
                              th:utext="${editEventDto.getDescLong()}"
                              id="descriptionEvent"
                              rows="15"
                              name="newEventDescription">

                        </textarea>
                </div>
            </div>
            <!-- imageEvent display -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <br>
                    <span class="mb-2" th:text="#{editEvent.image}">Obrazek przypisany do wydarzenia</span>
                    <br>
                    <img class="mt-2" th:src="${editEventDto.getPicture()}" style="margin-bottom: 30px" alt="" src="">
                </div>
            </div>
            <!-- imageEvent input -->
            <div class="row event-description">
                <div class="text-warning bg-dark pb-3 border-warning border rounded-3">
                    <br>
                    <span class="mb-2"
                          th:text="#{editEvent.image.types}">Obsługiwane typy plików (JPG, PNG, GIF, RAW)</span>
                    <br><br>
                    <input type="file" class="btn form-select-file text-warning" th:value="#{editEvent.image.upload}"
                           id="imageEvent"
                           name="newEventImage">

                </div>
            </div>
            <br>
            <!-- saveBottom -->
            <button class="btn btn-lg btn-primary text-dark" type="submit" th:text="#{editEvent.image.save}"
                    value="Zapisz">

            </button>
            <br>
            <br>
        </form>
    </div>
    <!-- Back to top button -->
    <div th:insert="index :: copy-topButton"></div>
    <!--    Footer-->
    <div th:insert="index :: copy-footer"></div>
</header>
<div th:insert="index :: end-scripts"></div>
</body>
</html>