<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="pl">
<head>
    <th:block th:insert="index :: copyhead">CopiedFromIndex</th:block>

    <title>Kulturalni - Wydarzenia</title>
</head>
<body id="page-top">
<div th:insert="index :: copy-masthead"></div>

<!-- Masthead-->
<header class="masthead text-dark" style="padding-top:10rem">
    <div sec:authorize="hasAuthority('ADMIN')">
        <br><br><br><br>
        <div class="masthead-heading text-uppercase text-warning mb-4" th:text="#{lost}"></div>
        <br>
    </div>
    <div sec:authorize="hasAuthority('USER')">
        <div class="masthead-heading text-uppercase text-warning mb-4" th:text="#{favourites.title}"></div>
        <h6 class="mb-3 fw-normal text-warning" th:text="#{favourites.subtitle}"></h6>

        <!--TABLE HEADERS-->
        <div class="container-lg bg-dark border border-warning border-3 text-warning mb-3">
            <div class="row">
                <div class="col-md-1" sec:authorize="hasAuthority('ADMIN')">
                    <p class="header-city-paragraph">ID</p>
                </div>
                <div class="col-md-1">
                    <p class="header-city-paragraph" th:text="#{events.header.city}">Miasto</p>
                </div>
                <div class="col-md-1">
                    <p class="header-city-paragraph " th:text="#{events.header.date}">Data</p>
                </div>
                <div class="col-md-1">
                    <p class="header-city-paragraph" th:text="#{events.header.time}">Godzina</p>
                </div>
                <div class="col-md-7">
                    <p class="header-city-paragraph" th:text="#{events.header.name}">Nazwa wydarzenia</p>
                </div>
                <div class="col-md-1">
                    <p class="header-city-paragraph" th:text="#{events.header.favourites}">Ulubione</p>
                </div>
            </div>
        </div>
        <!--TABLE-->
        <div th:each="eventDto: ${listOfEventDto}" class="container-lg main-table bg-transparent">
            <div class="pt-3 row bg-dark border border-warning border-1 text-warning rounded-3">
                <div class="col-md-1 low-padding" sec:authorize="hasAuthority('ADMIN')">
                    <p class="" th:text="${eventDto.getId()}">ID</p>
                </div>
                <div class="col-md-1 low-padding">
                    <p class="" th:utext="${eventDto.getCity()}">Miasto</p>
                </div>
                <div class="col-md-1">
                    <p class="" th:text="${eventDto.getStartDateDate()}">
                        Data</p>
                </div>
                <div class="col-md-1">
                    <p class="" th:text="${eventDto.getStartDateTime()}">Godzina</p>
                </div>
                <div class="col-md-7">
                    <a href=# th:href="@{/singleevent(id=${eventDto.getId()})}" style="text-decoration: none">
                        <p class="" th:utext="${eventDto.getName()}">Nazwa wydarzenia</p>
                    </a>
                </div>
                <div class="col-md-1">
                    <form th:action="@{/favselectFav}">
                        <a th:href="@{/favselectFav(id=${eventDto.getId()}, favStatus=${eventDto.getFavourite()})}">
                                <span th:if="${eventDto.getFavourite()}">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                        class="bi bi-heart-fill text-danger" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </span>
                            <span th:if="${!eventDto.getFavourite()}">
                                 <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                      class="bi bi-heart text-danger" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
            </span>
                        </a>
                    </form>
                </div>
                <!-- Modal -->
                <div class="modal fade text-dark" th:id="'exampleModal' + ${eventDto.getId()}" tabindex="-1"
                     role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">USUWANIE WYDARZENIA</h5>
                                <button type="button" class="btn-close" data-bs-target="#my-modal"
                                        data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                Czy na pewno chcesz usunąć to wydarzenie?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">NIE</button>

                                <a href=# th:href="@{/deleteEvent(id=${eventDto.getId()})}"
                                   style="text-decoration: none">
                                    <button type="button" class="btn btn-success" text="TAK">TAK
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Back to top button -->
    <div th:insert="index :: copy-topButton"></div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
</header>
<!--    Footer-->
<div th:insert="index :: copy-footer"></div>
<!--SCRIPTS-->
<div th:insert="index :: end-scripts"></div>
</body>
</html>