<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kulturalni - Wyszukiwarka wydarzeń</title>
    <link rel="icon" type="image/png" sizes="32x32" href="thumbnail.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>

<body>


<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container-lg">
        <a class="navbar-brand" href="#">
            <img src="logo_whole.png" alt="" height="75px" width="300px" class="flex-box my-2">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Lista wydarzeń</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dodaj wydarzenie</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Ulubione
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Dodaj wydarzenie</a></li>
                        <li><a class="dropdown-item" href="#">Usuń wydarzenie</a></li>
                        <li><a class="dropdown-item" href="#">Wyświetl wszystkie ulubione</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dla administratorów</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<div class="container sticky-top my-5 bg-white">
    <form class="d-flex">
        <input class="form-control me-2 bg" type="search"
               placeholder="Wpisz nazwę wydarzenia, miejsce wydarzenia lub organizatora" aria-label="Search">
        <button class="btn btn-success" type="submit">Szukaj wydarzeń</button>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional
                        content.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-lg">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta est provident reiciendis! Aliquam corporis
        culpa
        doloremque esse facilis, inventore, ipsum minima omnis porro quo quos sed soluta tempora tempore, tenetur.
    </div>
    <div>Aliquid, cum saepe. Deleniti est excepturi hic illo molestiae officia recusandae reprehenderit sed temporibus
        vero.
        Adipisci beatae commodi est et incidunt molestiae optio quos! Autem distinctio doloribus ea nemo temporibus.
    </div>
    <div>At culpa cum delectus dolor dolore doloribus facilis fuga, harum in ipsa labore laborum modi necessitatibus
        nesciunt nostrum, numquam pariatur quae quasi quo sed sequi vel vero. Non totam, velit?
    </div>
    <div>Accusamus aliquid amet atque consequatur eaque earum eos esse et, fugiat fugit ipsam laboriosam laborum maxime
        minima modi nihil nobis nostrum pariatur porro possimus repellendus sed tempore totam vel vero.
    </div>
    <div>Animi architecto assumenda consectetur doloremque enim eum ex explicabo harum illum inventore itaque laborum,
        magni
        minima nam neque nesciunt non pariatur quae quos reiciendis sed sequi veritatis. Deserunt harum, quasi!
    </div>
    <div>Itaque nam nemo nostrum quia velit! Exercitationem fugit maiores necessitatibus placeat quisquam sed. Ab
        aspernatur
        assumenda deserunt, magnam necessitatibus officia qui quo ut! Consectetur ea harum incidunt possimus voluptatem
        voluptates!
    </div>
    <div>Fugiat ipsum molestias vel? Ab assumenda at atque autem commodi dignissimos enim eveniet ipsam labore minima
        natus
        necessitatibus nemo nisi obcaecati odit optio perferendis quaerat quas quibusdam ratione vel, voluptates.
    </div>
    <div>Aliquam consequatur illo in nihil quam quos! Alias asperiores aut consequatur debitis enim exercitationem iusto
        natus quos unde ut. Ad alias cum cumque doloremque eius in labore, magni quod rerum?
    </div>
    <div>Ad atque autem, dolor ea esse ex expedita explicabo fugiat id incidunt maiores minus mollitia obcaecati
        officiis
        possimus quaerat quas quia quidem quis rerum sapiente tempora temporibus tenetur vero vitae!
    </div>
    <div>Ab aut culpa, doloribus dolorum, error esse facere fugiat iste nobis nulla ratione, repellat vero voluptate
        voluptates voluptatum! Dicta in inventore minima? Dolor dolores magni nostrum quisquam vitae. Natus, odit!
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt distinctio facilis ipsa natus non nulla
        obcaecati omnis porro quam sed! Assumenda autem beatae odit qui. Aliquid eos maxime similique tenetur!
    </div>
    <div>Aliquid architecto facilis impedit minus molestias nemo porro quisquam reiciendis sequi. Beatae earum iusto
        quasi
        repudiandae veniam, voluptatem voluptatibus? Accusantium, aperiam, quia! Consequuntur fugit, iusto officia quas
        similique sit! Reprehenderit.
    </div>
    <div>Ad adipisci asperiores, aspernatur autem blanditiis commodi dolorem expedita fuga ipsam molestiae molestias
        natus
        neque nihil nisi obcaecati officiis perferendis quia reiciendis repudiandae sed sit, tempore temporibus ut
        voluptatem, voluptatum!
    </div>
    <div>Dolorum enim nulla quaerat recusandae temporibus! Iure odit perferendis quisquam. Accusantium aut debitis
        doloremque saepe voluptatem. Architecto delectus deleniti est laborum maiores nulla obcaecati, officia repellat
        tempore totam velit voluptas!
    </div>
    <div>Iste non optio vel? Aliquid assumenda atque beatae blanditiis distinctio dolor, doloremque earum, ex fugiat
        illo,
        ipsa itaque molestiae necessitatibus nemo nostrum obcaecati quasi quidem reprehenderit similique suscipit vero
        voluptatum!
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid architecto doloribus eligendi esse ex
        ipsa
        maiores nulla numquam odit quia quod sequi sint vero vitae, voluptate voluptatibus? Aut, explicabo.
    </div>
    <div>Architecto asperiores cupiditate explicabo illo inventore minima natus provident reprehenderit ut velit.
        Aliquam
        animi atque beatae blanditiis eaque hic impedit in inventore minima molestiae numquam quam quibusdam quo
        reprehenderit, tempora?
    </div>
    <div>A accusamus accusantium aliquam aspernatur commodi consequuntur modi mollitia voluptatibus! Ab blanditiis,
        dignissimos dolor doloremque earum eum fuga hic iusto nemo nihil, perspiciatis provident quisquam reprehenderit
        sit
        suscipit tenetur unde!
    </div>
    <div>Consequatur delectus deserunt dolore modi quas quia quibusdam voluptatum. At autem corporis error facilis iusto
        laborum modi molestias nesciunt nobis numquam quia, sunt vero, voluptatum. Porro possimus tempore velit
        voluptatum.
    </div>
    <div>Adipisci aut consectetur deserunt dicta dolorum eveniet expedita harum illo incidunt ipsa laudantium libero
        maxime
        minus mollitia natus neque quas quibusdam quidem quod ratione recusandae reiciendis, sapiente similique
        temporibus
        voluptas.
    </div>
    <div>Accusantium amet delectus eaque, eligendi iure libero nesciunt nostrum, obcaecati quae qui recusandae
        similique.
        Aliquam amet explicabo facere quas saepe? Aliquam dignissimos earum est et incidunt magnam minima nisi quae?
    </div>
    <div>Necessitatibus nemo, reiciendis? A accusamus accusantium architecto consequatur cum dolorum expedita id ipsum
        itaque magni nobis officia officiis reiciendis sapiente, sit tempore ut! At magnam, nobis provident quae
        suscipit
        voluptas!
    </div>
    <div>Dicta inventore ipsam quas suscipit totam. Illum nobis non tempora! Ad deserunt distinctio eaque expedita
        explicabo
        fuga, ipsum iusto magni modi mollitia perferendis quasi rem similique. Debitis dolore facere necessitatibus.
    </div>
    <div>Consequatur debitis doloremque eaque enim impedit nihil praesentium repellendus ullam? Aliquam amet, aspernatur
        aut
        autem consectetur delectus, distinctio, eum laudantium minima neque nulla officiis perferendis reprehenderit
        repudiandae sapiente ut voluptatem?
    </div>
    <div>At, atque consequuntur delectus eum labore laudantium mollitia nemo saepe suscipit? Beatae cum dicta eligendi
        est
        explicabo hic itaque molestiae pariatur sit velit. Amet debitis id obcaecati quis temporibus. Totam.
    </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, blanditiis dignissimos distinctio eveniet
        fugit
        illum inventore, ipsam ipsum iste laborum magnam quaerat quod sapiente similique sint soluta tenetur ullam
        voluptatem!
    </div>
    <div>Provident qui sit unde! Adipisci blanditiis commodi, deserunt dolor eaque eligendi id inventore iste itaque
        natus
        nisi nostrum officiis quam quas quis, quos reprehenderit suscipit unde voluptates voluptatum. Debitis, in.
    </div>
    <div>Adipisci animi commodi corporis, culpa illo molestiae mollitia nihil non officiis possimus, praesentium quae
        quam
        quasi quos rem saepe sed soluta suscipit vel voluptates! Corporis dignissimos in labore mollitia reprehenderit?
    </div>
    <div>A ab, aliquid animi aperiam autem commodi consequatur dicta dolor doloribus eligendi error, esse et eveniet
        explicabo facere hic impedit in, molestiae molestias perferendis placeat quaerat quo repudiandae sunt tempora.
    </div>
    <div>A ad amet aperiam consequatur distinctio ducimus ea eaque earum eligendi eos error fuga, iure, magni molestiae
        non
        nulla praesentium quam quas quis, quisquam? Atque eaque fugiat quaerat soluta temporibus!
    </div>
    <div>Accusamus accusantium aliquam, assumenda beatae consequuntur cum delectus, dicta dolores doloribus est eveniet
        facere ipsum obcaecati odio officia pariatur provident quo ratione rem, sed sit soluta suscipit tempora tenetur
        velit!
    </div>
    <div>A accusamus architecto aspernatur beatae, blanditiis cum, dolor dolorum enim error esse, facilis incidunt
        labore
        libero minus modi nam natus nesciunt porro provident quas quod temporibus totam vel vero voluptates!
    </div>
    <div>Accusantium ad aliquam architecto asperiores assumenda, at atque blanditiis consectetur consequatur delectus
        dolore
        dolorem, earum esse explicabo illum laudantium molestiae necessitatibus officia perspiciatis placeat qui
        repudiandae
        rerum sequi totam, veritatis!
    </div>
    <div>Ad amet, architecto blanditiis consequuntur dolor dolore dolores earum eligendi eveniet hic ipsa ipsum iure
        maiores
        minima, natus odio perspiciatis praesentium provident quia quo quod rem sapiente sint tenetur vitae!
    </div>
    <div>Dicta expedita magni quisquam. Aspernatur, earum, maxime. Asperiores, at consequuntur corporis dolores earum
        enim
        esse expedita inventore, laudantium libero molestias nesciunt obcaecati perferendis porro possimus quia
        repellendus
        soluta, ullam voluptatum?
    </div>
    <div>Consequuntur culpa delectus dignissimos dolor enim itaque minus placeat quia quisquam temporibus. Amet
        consectetur
        dolor earum et eum excepturi expedita harum hic maiores maxime nisi omnis, perspiciatis quam quisquam quos.
    </div>
    <div>Accusantium adipisci aliquid amet animi dolorum earum eius incidunt natus neque nulla pariatur possimus
        provident
        quae, quam rem sed suscipit veniam! Ex facere harum neque qui quos, sequi suscipit veniam.
    </div>
    <div>A, ad assumenda aut consequuntur deleniti dicta, eos illum incidunt ipsa maxime natus non perferendis placeat
        quaerat quisquam, recusandae reiciendis totam vel vitae voluptates. Animi eius esse neque nisi reiciendis.
    </div>
    <div>Asperiores atque ex iure molestiae molestias numquam odit quaerat qui, rerum sapiente? Aperiam architecto
        blanditiis, exercitationem iure, iusto labore laboriosam nemo, obcaecati optio pariatur possimus quidem quos
        reiciendis soluta ullam!
    </div>
    <div>Accusamus aut blanditiis corporis cumque debitis earum facere inventore maiores necessitatibus nemo odio porro
        provident repellat, sequi soluta veritatis vero? Alias ducimus in iure molestias quia ratione recusandae sit
        unde!
    </div>
    <div>Alias est magnam provident vitae? Animi distinctio mollitia sapiente. Ad autem eaque excepturi facilis fuga,
        iusto
        maxime natus nihil non odit praesentium qui quo sequi soluta vel vero vitae voluptates?
    </div>
    <div>Blanditiis dignissimos dolore, dolorem et facere hic iste nostrum recusandae, rem repellendus sint, vero
        voluptas
        voluptatem. Ad, asperiores commodi doloribus laborum minima mollitia nemo pariatur quasi quibusdam rem veritatis
        voluptatibus!
    </div>
    <div>Adipisci amet architecto consequuntur corporis cupiditate deserunt doloremque eaque eius, est eum eveniet
        explicabo
        ipsum laborum minus mollitia odio rerum ut? Asperiores fugit laboriosam, modi natus nisi non quaerat ullam.
    </div>
    <div>Accusantium, alias culpa cumque dicta dolor eligendi excepturi iure magnam quia ratione soluta tempore vel! Ab,
        beatae deserunt dolore dolorem eligendi explicabo illo ipsa ipsam nulla qui quidem temporibus voluptatibus?
    </div>
    <div>Aliquam consequatur delectus ea earum eum explicabo facere fugit illum minima modi nihil nisi non nostrum
        officia
        pariatur quis repellat repellendus, repudiandae sed similique soluta velit voluptates, voluptatibus! Officiis,
        similique?
    </div>
    <div>Ad, adipisci aperiam asperiores commodi corporis debitis dolorem dolorum ducimus error esse explicabo id iure
        modi
        neque non odio odit omnis optio placeat possimus quis quos sunt totam veritatis vitae!
    </div>
    <div>Aliquid amet animi architecto asperiores assumenda autem commodi, consequatur deserunt dolores facere fugit
        ipsum
        libero, minima minus modi, molestiae necessitatibus neque odio perferendis quibusdam reiciendis saepe sequi
        soluta
        sunt tempore?
    </div>
    <div>Dolorum ducimus earum, laborum minima quis rerum unde veritatis voluptas. Aliquid ea error nulla recusandae
        sunt.
        Accusamus aliquid architecto, doloribus eligendi hic iusto mollitia nihil nulla provident ratione recusandae
        veritatis.
    </div>
    <div>Beatae commodi ex fugiat nostrum soluta veritatis, voluptatem. Accusantium ad alias doloremque hic, incidunt
        inventore, ipsam iusto, maiores mollitia nihil nobis numquam qui quia quisquam temporibus? Distinctio inventore
        natus quia?
    </div>
    <div>Nostrum placeat, tenetur. A ad amet aspernatur commodi consectetur consequatur consequuntur culpa doloremque
        ducimus exercitationem facere illo iure maxime odit omnis quas quis, reiciendis saepe, sapiente temporibus
        tenetur
        vel, veniam.
    </div>
    <div>Accusantium animi asperiores aspernatur consequuntur deserunt dolorum eaque earum eius, eveniet ex expedita
        facilis
        fuga fugiat hic ipsum laboriosam magnam natus necessitatibus non obcaecati quam quo repellat voluptates
        voluptatibus
        voluptatum.
    </div>
    <div>Adipisci assumenda atque blanditiis cupiditate dolor dolorem eaque enim, explicabo facere laborum
        necessitatibus,
        praesentium quaerat quam quis quo recusandae reiciendis sapiente sint tempore ullam? Ex illo porro praesentium
        rerum! Autem!
    </div>
    <div>Accusamus alias eius error impedit in incidunt iure maiores minima nemo neque non possimus provident quam qui
        quibusdam repellat sapiente, sed temporibus totam voluptatibus. Dolore earum facere obcaecati porro quidem?
    </div>
    <div>Aliquid aspernatur autem corporis culpa cumque dicta eaque facilis fuga fugit illum iure iusto libero magnam
        natus
        nostrum perspiciatis, placeat possimus qui quod reiciendis sequi tempore, velit veniam voluptas voluptates!
    </div>
    <div>Magni quas sapiente similique tempore ullam. Eligendi eum fugit laborum nemo voluptas? Debitis doloribus,
        ducimus
        eaque eius, error est fuga ipsum labore omnis perspiciatis provident repudiandae tempore ullam veritatis
        voluptatibus!
    </div>
    <div>Accusamus aut deserunt dignissimos doloremque expedita explicabo fuga incidunt molestias porro provident rem
        vel,
        voluptates voluptatum. Aperiam dolores, eaque error fuga illum odit possimus quasi, sapiente sequi tenetur velit
        voluptatum?
    </div>
    <div>Aperiam autem dolor, eius fuga fugit in laborum nostrum nulla quas qui reiciendis sequi sint, vel veniam,
        veritatis
        vitae voluptas? Cupiditate debitis dicta eligendi excepturi id libero nulla, officia optio.
    </div>
    <div>Quas quia quos sequi. Aut cum eligendi nemo numquam, obcaecati placeat, quasi repellat repudiandae, sunt
        tempore
        veritatis voluptatum. Amet assumenda blanditiis dolor enim facilis illum minima, odit quaerat quas unde.
    </div>
    <div>Consectetur dolorum laudantium magni necessitatibus neque obcaecati odio? Dolor explicabo hic illo nisi nobis
        sequi
        sit. Dolor dolore earum excepturi, laboriosam molestiae numquam qui quia sequi tenetur ut. Culpa, nam?
    </div>
    <div>Accusantium consectetur consequuntur, culpa delectus dignissimos distinctio est eum facere fugiat fugit
        inventore
        iste modi nam nesciunt nisi non nulla numquam, quidem sapiente sunt totam unde vel vero voluptates voluptatum.
    </div>
    <div>Culpa dolor eligendi nostrum numquam obcaecati optio, voluptas! A, cupiditate dicta ex, impedit ipsa iure
        laboriosam nulla perferendis possimus praesentium, quisquam similique tempora tempore. Corporis deleniti dolorum
        facere iste quasi.
    </div>
    <div>Autem cupiditate dignissimos ex, facilis impedit iste iure iusto libero maiores molestias nisi nostrum placeat
        quaerat quasi qui quibusdam repellat reprehenderit repudiandae rerum saepe sint sunt tempore vitae voluptate
        voluptatem?
    </div>
    <div>A assumenda commodi corporis cupiditate doloribus ex exercitationem, facere harum incidunt labore laudantium
        libero
        magnam necessitatibus odit quae quidem quis quo quod recusandae rerum sed suscipit tempora vero voluptas
        voluptate.
    </div>
    <div>Autem consectetur cum dolor, dolorum fugiat illum iure quam recusandae repellat tempore ullam veritatis
        voluptatum.
        Corporis, deleniti doloremque error est, eum hic illo, nam necessitatibus nisi numquam perspiciatis ratione
        veniam.
    </div>
    <div>Debitis ducimus eaque ex fuga ipsa libero minus molestias mollitia praesentium quaerat qui sapiente, sequi sint
        velit voluptas! Cum deleniti eius fuga laboriosam magnam maxime mollitia natus officiis rerum veniam!
    </div>
    <div>Autem commodi culpa distinctio, ducimus error illum inventore laborum maxime molestias ratione reiciendis rem
        tempora temporibus! Delectus doloribus enim excepturi fugiat harum impedit ipsa molestias necessitatibus
        praesentium
        quos, sequi voluptate?
    </div>
    <div>Alias consectetur debitis distinctio dolore ducimus earum eos ex explicabo facilis fugit illum ipsa libero
        maiores
        minus molestias nam, nisi nobis non praesentium quae temporibus, totam ullam voluptate. Est, nisi!
    </div>
    <div>Aspernatur, assumenda consectetur consequatur deserunt dolorum ea eius et fugiat laboriosam nobis odit officia
        sed
        ut vero vitae! Accusantium animi debitis dignissimos, esse expedita iusto magnam necessitatibus nisi quas rerum.
    </div>
    <div>Esse eveniet excepturi inventore libero nemo non quasi quis soluta tempora voluptates! Accusamus asperiores
        atque
        beatae delectus dignissimos earum eius excepturi facilis impedit modi, nobis, perspiciatis sequi tenetur!
        Facilis,
        vel.
    </div>
    <div>Doloremque expedita fugit hic ipsum minus molestiae numquam odit, officiis tempore veniam. Blanditiis corporis
        deleniti ipsa maxime, modi natus nesciunt quia quisquam ratione veritatis? Amet consequatur deleniti dicta error
        quia.
    </div>
    <div>Aliquid, consectetur, corporis distinctio ea eaque maiores nostrum, nulla officiis pariatur quaerat quas
        repellat
        rerum sed soluta unde ut voluptates. Asperiores, eaque eum id inventore magnam molestias sit totam veritatis!
    </div>
    <div>Accusantium amet asperiores aut beatae consequatur cupiditate deleniti deserunt dignissimos dolore dolorum esse
        facere facilis ipsam iusto labore, maiores maxime nisi nostrum odit omnis porro quaerat quod reiciendis saepe
        voluptates.
    </div>
    <div>Aut iste laborum laudantium obcaecati officia quibusdam sequi velit! Alias blanditiis commodi delectus ducimus
        eaque eius eligendi esse, ex illum ipsum maxime, nostrum optio perferendis quis reiciendis similique, ullam
        voluptates.
    </div>
    <div>A accusantium, aliquam atque cum delectus dolores enim error harum impedit modi natus nemo sed tempora
        voluptate
        voluptatibus? At commodi culpa, dicta facilis fugiat id ipsum iusto numquam saepe totam.
    </div>
    <div>Aliquid aut consequatur cupiditate excepturi facere inventore ipsa, minus modi molestias nam quae reiciendis
        sint
        sit vero voluptatem. Culpa distinctio id ipsum laborum magni nesciunt quam quas sequi voluptate voluptates?
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>