<!DOCTYPE html>
<html xmlns: xmlns:margin-left="http://www.w3.org/1999/xhtml" th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kulturalni - Formularz dodania wydarzenia </title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="images/favicon.ico">

    <!-- Core theme CSS (includes Bootstrap)-->

    <link href="css/styles.css" type="text/css" rel="stylesheet"/>

</head>

<body>
<!-- Navigation-->
<div th:insert="index :: copy-masthead"></div>
<!-- Masthead-->
<header class="masthead text-dark">
    <div class="container" id="greeting">
        <img class="mb-4" src="images/img/logos/logo.png" alt="" width="150" height="145">
        <h4 class="mb-3 fw-normal text-warning" th:text="#{saveEvent.greeting}"></h4>
    </div>

    <div class="container col-lg-4 dark"
         style="text-align: left; background-color: rgba(255,255,255,0.7); border-radius: 25px">

        <!-- idEvent -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Id wydarzenia: </label>
            </div>
            <div class="col-md-1">
                <p th:text="${newEventDto.getNewEventId()}"></p>
            </div>
        </div>
        <!-- nameEvent -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Nazwa wydarzenia: </label>
            </div>
            <div class="col-md-1">
                <p th:text="${newEventDto.getNewEventName()}"></p>
            </div>
        </div>
        <!-- placeEvent -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Miejsca wydarzenia: </label>
            </div>
            <div class="col-md-1">
                <p th:text="${newEventDto.getNewEventPlace()}"></p>
            </div>
        </div>
        <!-- cityEvent -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Miejsca wydarzenia: </label>
            </div>
            <div class="col-md-1">
                <p th:text="${newEventDto.getNewEventCity()}"></p>
            </div>
        </div>
        <!-- startEvent -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Początek wydarzenia:</label>
            </div>
            <div class="col-md-3">
                <p th:text="${newEventDto.getNewEventStartDate()}"></p>
            </div>
            <div class="col-md-2">
                <p th:text="${newEventDto.getNewEventStartTime()}"></p>
            </div>
        </div>
        <!-- endEvent input -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Koniec wydarzenia</label>
            </div>
            <div class="col-md-3">
                <p th:text="${newEventDto.getNewEventEndDate()}"></p>
            </div>
            <div class="col-md-2">
                <p th:text="${newEventDto.getNewEventEndTime()}"></p>
            </div>
        </div>
        <!-- priceEvent  -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Cena wydarzenia: </label>
            </div>
            <div class="col-md-1" style="width: 185px">
                <span th:text="${newEventDto.getNewEventPrice()}"></span>
                <span th:if="${newEventDto.getNewEventPriceFree()}">Wydarzenie Bezpłatne</span>
            </div>
        </div>
        <!-- urlAddress -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Adres Strony: </label>
            </div>
            <div class="col-md-1">
                <p th:text="${newEventDto.getNewEventUrl()}"></p>
            </div>
        </div>
        <!-- descriptionEvent input -->
        <div class="row event-description ">
            <div class="col-md-4">
                <label>Opis: </label>
            </div>
            <div class="col-md-1 text-dark">
                <p style="overflow: auto; overflow-wrap: break-word; width: 300px; height: 150px; border: 1px solid #000;
  float: left; margin-left: auto; margin-right: auto; background-color:white;"
                   th:text="${newEventDto.getNewEventDescription()}"></p>
            </div>
        </div>
        <!-- imageEvent input -->
        <div class="row event-description">
            <div class="col-md-4">
                <label>Image: </label>
            </div>
            <div class="col-md-1">
                <img th:img="${newEventDto.getNewEventImage()}" style="margin-bottom: 50px">
            </div>
        </div>
    </div>
    <div th:insert="index :: copy-footer"></div>
</header>
<div th:insert="index :: end-scripts"></div>
</body>
</html>