<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kulturalni - Logowanie</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="images/favicon.ico">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="css/styles.css" type="text/css" rel="stylesheet"/>

    <link href="css/signin.css" rel="stylesheet">
</head>

<body>
<!-- Navigation-->
<div th:insert="index :: copy-header"></div>
<!-- Masthead-->
<header class="masthead text-dark">
    <br><br><br>
    <div class="form-signin">
        <form>
            <img class="mb-4" src="images/img/logos/logo.png" alt="" width="150" height="145">
            <h4 class="mb-3 fw-normal text-warning" th:text="#{login.greeting}"></h4>

            <div class="form-floating text-muted">
                <input type="text" class="form-control" id="floatingInput" placeholder="Username">
                <label for="floatingInput" th:text="#{login.username}"></label>
            </div>
            <div class="form-floating text-muted">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword" th:text="#{login.password}"></label>
            </div>

            <div class="checkbox mb-3 text-light">
                <label>
                    <input type="checkbox" value="remember-me" class="mx-1" th:text="#{login.checkmark}">
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary text-dark " type="submit" th:text="#{login.button}"></button>
        </form>
    </div>
    <div class="p-3 text-white">
        <!-- Footer -->
        <div class="bg-transparent" th:insert="index :: copy-footer"></div>
    </div>
</header>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>