<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <th:block th:insert="index :: copyhead">CopiedFromIndex</th:block>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
    <title>Kulturalni - Logowanie</title>
</head>
<body>
<!-- Navigation-->
<div th:insert="index :: copy-masthead"></div>
<!-- Masthead-->
<header class="masthead text-dark">
    <br><br><br>
    <div class="container text-center">
        <form class="form-signin" th:action="@{/sign-in}" method="post">

            <img class="mb-4" th:src="@{/images/img/logos/logo.png}" alt="" width="150" height="145" src="">

            <h3 class="mb-3 fw-normal text-warning" th:text="#{login.greeting}"></h3>

            <h6 class="mb-3 fw-normal text-warning" th:text="#{login.greeting.sub}"></h6>

            <div th:if="${param.error}" class="alert alert-danger my-3">
                <span th:text="#{login.error}">ZŁA NAZWA UŻYTKOWNIKA LUB HASŁO</span>
            </div>

            <div class="form-floating text-muted">
                <input type="text" class="form-control" id="username" placeholder="Username" name="username">
                <label for="username" th:text="#{login.username}"></label>
            </div>

            <div class="form-floating text-muted">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <label for="password" th:text="#{login.password}"></label>
            </div>

            <button class="w-100 btn btn-lg btn-primary text-dark" type="submit"
                    th:text="#{login.button}"></button>
            <div class="mt-3 text-light">
                <label class="h6 mb-3 fw-normal text-warning" th:text="#{login.register}"></label>
                <br>
                <a class="h6 mb-3 text-warning" type="submit" th:text="#{login.register.button}"></a>
            </div>
        </form>
    </div>
    <div th:insert="index :: copy-footer"></div>
</header>
    <!--<footer th:fragment="copy-footer" class="footer mt-5 mb-1 text-white">
        <div class="container">
            <span class="footer">&copy 2021,
                <a href="mailto: aplikacjakulturalni@gmail.com" class="footer">aplikacjakulturalni@gmail.com</a>
            </span>
        </div>
    </footer>-->
<div th:insert="index :: end-scripts"></div>
</body>
</html>