<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org" lang="pl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Kulturalni - Opis wydarzenia</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="images/favicon.ico">

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/additional.css">
</head>

<body id="page-top">
<!-- Navigation-->
<div th:insert="index :: copy-header"></div>
<!-- Masthead-->
<header class="masthead text-dark">

    <div class="container" style="text-align: center">
        <img src="images/img/events/stage-336695_640.jpg" alt="Koncert">
    </div>

    <div class="container" style="text-align: center">
        <div class="row" style="background-color: white">
            <div class="col-md-3">
            </div>
            <div class="col-md-6" style="text-align: center">
                <p class="event-title">Nazwa wydarzenia</p>
            </div>
            <div class="col-md-1">
                <a href=""><img src="images/img/heart-bw.png" alt="Ulubione" class="heart-image"></a>
            </div>
            <div class="col-md-1">
                <a href=""><img src="images/img/buy.png" alt="Kup teraz" class="buy-image"></a>
            </div>
            <div class="col-md-1">
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row event-description" style="background-color: white">
            <div class="col-md-3">
                <p class="event-left-description">Nazwa wydarzenia</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description" style="background-color: white">
            <div class="col-md-3">
                <p class="event-left-description">Opis</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description" style="background-color: white">
            <div class="col-md-3">
                <p class="event-left-description">Termin</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description" style="background-color: white">
            <div class="col-md-3">
                <p class="event-left-description">Początek</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description" style="background-color: white">
            <div class="col-md-3">
                <p class="event-left-description">Koniec</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description" style="background-color: white">
            <div class="col-md-3">
                <p class="event-left-description">Miejsce</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description" style="background-color: white">
            <div class="col-md-3">
                <p class="event-left-description">Cena</p></p>
            </div>
            <div class="col-md-9">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
        <div class="row event-description" style="background-color: white">
            <div class="col-md-3">
                <p class="event-left-description">Strona wydarzenia</p></p>
            </div>
            <div class="col-md-9" style="margin-bottom: 30px">
                <p class="event-right-description">Model data</p>
            </div>
        </div>
    </div>


</header>
<!-- Events-->



<div th:insert="index :: copy-footer"></div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>